<div [ngClass]="inline ? 'd-flex align-items-center gap-2' : ''">
    @if (displayLabel) {
        <label 
            [for]="name" 
            [ngClass]="labelClass"
            style="white-space: nowrap;"
        >
            {{ label }} {{ isRequired && displayLabel ? ' *' : '' }}
        </label>
    }

    <aside class="input-group">
        <input
            type="text"
            [name]="name"
            [placeholder]="placeholder"
            [ngClass]="inputClass"
            [disabled]="disabled"
            [value]="value"
            (input)="setValue($event.target.value)"
        />
        @if (symbol) {
            <span class="input-group-text">{{ symbol }}</span>
        }
        
    </aside>
</div>

@if (hasError) {
    <small class="text-danger">
        {{ formControl?.errors }}
    </small>
}

