<div [ngClass]="inline ? 'd-flex align-items-center gap-2' : ''">
    @if (displayLabel) {
        <label 
            [for]="name" 
            [ngClass]="labelClass"
            style="white-space: nowrap;"
        >
            {{ label }} {{ isRequired && displayLabel ? ' *' : '' }}
        </label>
    }

    <aside class="input-group">
        <input
            type="text"
            [name]="name"
            [placeholder]="placeholder"
            [ngClass]="`form-control ${inputClass}`"
            [disabled]="disabled"
            [value]="value"
            (input)="onInput($event)"
        />
        @if (symbol) {
            <span class="input-group-text">{{ symbol }}</span>
        }
     
        
    </aside>
    @if (showError && errorMessage) {
        <small class="text-danger">{{ errorMessage }}</small>
    }
</div>

